@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    postion:'relative'
}

.project_1 {
    transition: background-position ease-in-out 2s;
    background-position: top;
  }
  
  .project_1:hover {
    background-position: bottom;
  }
  